.Input {
	width: 100%;
}

.Input-overallcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
}

.Input-searchbox {
	width: 100%;
	margin-right: 0.7vw;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border: 1px solid black;
	border-radius: 2.8vw;
}

#Input-searchiconlabel {
	display: flex;
	justify-content: center;
	align-items: center;
}

#Input-input {
	font-size: 2.1vw;
	margin-right: 0.7vw;
	width: 100%;
	outline: none;
	border: 0px;
}

#Input-input:focus {
	outline: none;
}

#Input-buttondiv {
	display: inline-block;
}
